<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>-->
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    @*<style>
        .nav-item {
            height: 60px;
            width: 60px;
            color: white;
            font-size: 20px;
            text-align: center;
        }
    </style>*@
<!--</head>
<body>-->

    @*<div class="row">
        <div class="col-sm-12  bg-danger">
            <ul class="nav bg-danger">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">CountryMaster</a>
                </li>



            </ul>
        </div>

    </div>*@

<!--</body>
</html>-->

